<ion-page>
  <ion-content class="ion-padding">
    <div class="cards-list">
      <div class="card-item-wrapper" v-for="(c, i) in cardsToShow" :key="i">
        <CardItem class="card-item"
          :card="c"
        :show-export="true">
          <template #actions>
            <ion-button v-if="isLocalPlayersTurn && mode === 'hand'" size="small" :disabled="!canPlayFromHand || localPlayerId !== activePlayerId" @click="playFromHand(i)">Play</ion-button>
          </template>
        </CardItem>
      </div>
    </div>
    
    <HorizontalScrollSlider target-selector=".deck-grid" />
  </ion-content>
</ion-page>
