<ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <h2>Welcome to Ionic + Vue</h2>
        <ion-button @click="showAlert">Show Alert</ion-button>
        <ion-button @click="goDeck" color="secondary">View Deck</ion-button>
        <ion-button @click="goTable" color="tertiary">Open Table</ion-button>
        <ion-button @click="goGame" color="success">Open Game</ion-button>
        <ion-button @click="goBoard" color="medium">Open Board</ion-button>
        <ion-button @click="goWebrtc" color="dark">WebRTC QR</ion-button>
      </ion-content>
  </ion-page>
