<ion-popover class="map-card-popover" :is-open="!!selectedCard || confirmVisible" backdrop-dismiss="true" @did-dismiss="onPopoverDismiss">
  <div v-if="selectedCard" class="map-card-content">
    <CardItem :card="selectedCard" :showExport="false" />
    <div class="map-card-actions" v-if="isLocalPlayersTurn">
      <ion-button size="small" @click="moveSelectedCard">Move</ion-button>
      <ion-button size="small" @click="attackWithSelectedCard">Attack</ion-button>
      <ion-button size="small" @click="useSelectedAbility">Use</ion-button>
    </div>
  </div>

  <div v-else-if="confirmVisible" class="confirm-box-popover">
    <div class="confirm-title">{{ confirmTitle }}</div>
    <div class="confirm-message">{{ confirmMessage }}</div>
    <div class="confirm-actions">
      <ion-button size="small" fill="clear" @click="onCancel">Cancel</ion-button>
      <ion-button size="small" color="primary" @click="onConfirm">Confirm</ion-button>
    </div>
  </div>
</ion-popover>

<ion-page>
    <div class="maps-row">
      <div class="map-surface">
        <div class="map-image-strip">
          <img
            v-for="(imgCfg, idx) in mapStripImages"
            :key="`map-img-${idx}`"
            :src="imgCfg.src"
            alt="map segment"
            :class="imgCfg.flipped ? 'map-image map-image-flipped' : 'map-image'"
          />
        </div>
        <div class="zones-overlay">
          <div v-for="zoneIdx in [0, 1, 2, 3, 4, 5, 6, 7]" 
            :key="`zone-${zoneIdx}`" 
            class="zone-cell" 
            :style="zoneStyle(zoneIdx)">
            <div class="zone-stack" 
              :style="zoneStackStyle(zoneIdx)">
              <div v-for="card in cardsForZone(zoneIdx)" 
                :key="`zone-${zoneIdx}-card`" 
                class="played-card">
                <MiniCardItem v-if="card" 
                :card="card" 
                @select="selectCard(card)" />
                <div v-else class="mini-card-fallback"></div>
              </div>
            </div>
            <div v-if="hiddenCountForZone(zoneIdx) > 0" class="zone-overflow-badge">
              +{{ hiddenCountForZone(zoneIdx) }}
            </div>
          </div>
        </div>
      </div>
    </div>

</ion-page>
